<!-- 引入头部组件 -->
<%- include('layout/header', { title: '微博-广场', isNav: true }) %>

<div class="container" style="margin-top: 20px;">
  <div class="row">
    <!-- 左侧 -->
    <div class="col-8">
      <h4 style="margin: 20px auto; border-bottom: 1px solid #eee;">微博广场</h4>
      <% if(blogData.isEmpty) { %>
      <div>
        <center>暂无数据</center>
        <h4><%= userData.isMe%></h4>
      </div>
      <% } else { %>
      <!-- 微博列表 -->
      <div id="container-weibo-list" class="weibo-list">
        <%- include('widgets/blog-list', {
                blogList: blogData.blogList
              }) %>
      </div>
      <!-- 加载更多 -->
      <% if(blogData.count > blogData.blogList.length) { %>
      <%- include('widgets/load-more', {
                pageSize: blogData.pageSize,
                pageIndex: blogData.pageIndex,
                count: blogData.count,
                containerSelector: '#container-weibo-list',
                api: '/api/square/loadMore'
              }) %>
      <% } %>
      <% } %>
    </div>
  </div>
</div>

<!-- 引入底部组件 -->
<%- include('layout/footer') %>